.sidebar {
  width: 200px;
  background: linear-gradient(180deg, #c96f05 0%, #d67f0a 100%); /* Gradiente de cor */
  overflow-y: auto; /* Adiciona barra de rolagem se o conteúdo for muito grande */
}

.sidebar-header {
  padding: 20px;
  background-color: #d67c00; /* Cor de fundo para o cabeçalho */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.sidebar-header h2 {
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin: 0; /* Remove a margem padrão do h2 */
}

.sidebar-list {
  list-style: none;
  padding: 0 10px; /* Adicione um padding horizontal para os botões */
  margin: 0;
}

.sidebar-item {
  margin-bottom: 10px;
  /* Não precisa de margin-bottom aqui, pois a própria margem do botão já resolve */
}

.sidebar-button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: transparent; /* Remove a cor de fundo duplicada */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px; /* Cantos arredondados */
  font-weight: bold;
  text-align: center;
}

.sidebar-button:hover {
  background-color: #d17e42;
}

.sidebar-button.active {
  background-color: #d17e42;
  font-weight: bold;
}