.sidebar {
  width: 200px;
  background: linear-gradient(180deg, #c96f05 0%, #d67f0a 100%);
  /* Removemos a barra de rolagem, pois não será necessária com os novos estilos */
  overflow-y: hidden;
  height: 100vh; /* Garante que a barra lateral ocupe toda a altura da tela */
}

.sidebar-header {
  padding: 10px 20px;
  background-color: #d67c00;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.sidebar-header h2 {
  font-size: 20px;
  color: #fff;
  margin: 0;
  font-weight: bolder;
}

.sidebar-list {
  list-style: none;
  padding: 5px 10px; /* Ajuste o padding para itens na lista */
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* Distribui os botões uniformemente */
  height: calc(100% - 64px);
  gap: 4px; /* Altura total menos a altura do cabeçalho */
}

.sidebar-item {
  margin-bottom: 0px;
}

.sidebar-button {
  width: 100%;
  padding: 6px 10px; /* Reduzindo o padding para caber mais itens */
  border: none;
  background-color: #ffffff;
  color: black;
  font-size: 14px; /* Reduzindo o tamanho da fonte */
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px; /* Cantos arredondados */
  font-weight: bold;
  text-align: center;
}

.sidebar-button:hover {
  background-color: #d17e42;
}

/* Opcional: Adicionar um efeito de "ativo" para o botão selecionado */
.sidebar-button.active {
  background-color: #d17e42;
  font-weight: bold;
}
::-webkit-scrollbar {
    display: none;
}