.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d67c00; /* Cor de fundo laranja */
  color: white;
  padding: 10px 20px;
  height: 60px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 20px;
}

.logo { width:80px; height:80px; object-fit:contain; }

.navbar-icons {
  display: flex;
  gap: 15px;
  
}

.icon {
  font-size: 24px;
  cursor: pointer;
  font-style: normal;
}