.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  color: #333;
}

.main-content {
  display: flex;
  flex: 1;
}

.content-area {
  flex: 1;
  background-color: #f7f3f0; /* Cor do fundo da área de conteúdo */
  padding: 20px;
}